ion-list {
    height: 100%;
}

ion-input {
    font-size: 50pt;
    text-align: right;
    margin-bottom: 5%;
    margin-right: 5%;
    font-weight: lighter;
    
}

ion-input :disabled {
    color: #fff;
}

ion-item {
    margin: 0%;
    height: 12.5%;
}

ion-button {
    width: 20%;
    height: 100%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5em;
    --background: #333333;
    --backgorund-activated: #333333;
    --border-radius: 50em;
}

.operation {
    --background: #e9a33d;
    --backgorund-activated: #e9a33d;
}

.action {
    --background: #a5a5a5;
    --background-activated: #a5a5a5;
    --color: #050505;
}

#zero {
    width: 45%;
    --background: #333333;
    --backgorund-activated: #333333;
}