<ion-content>
  <ion-list>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item>
      <ion-input [(ngModel)]="visor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button class="action">
        AC
      </ion-button >
      <ion-button class="action">
        -/+
      </ion-button>
      <ion-button class="action">
        %
      </ion-button>
      <ion-button class="operation">
        ÷
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        7
      </ion-button>
      <ion-button>
        8
      </ion-button>
      <ion-button>
        9
      </ion-button>
      <ion-button class="operation">
        x
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        4
      </ion-button>
      <ion-button>
        5
      </ion-button>
      <ion-button>
        6
      </ion-button>
      <ion-button class="operation">
        -
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        1
      </ion-button>
      <ion-button>
        2
      </ion-button>
      <ion-button>
        3
      </ion-button>
      <ion-button class="operation">
        +
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button id="zero">
        0
      </ion-button>
      <ion-button>
        ,
      </ion-button>
      <ion-button class="operation">
        =
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>