<ion-content>
  <ion-list lines='none'>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item>
      <ion-input [(ngModel)]="visor" disabled="false"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button class="action" (click)="toZero()">
        AC
      </ion-button >
      <ion-button class="action" (click)="invertSignal()">
        -/+
      </ion-button>
      <ion-button class="action" (click)="toPercent()">
        %
      </ion-button>
      <ion-button class="operation" (click)="addOperation(3)">
        ÷
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="addDigit('7')">
        7
      </ion-button>
      <ion-button (click)="addDigit('8')">
        8
      </ion-button>
      <ion-button (click)="addDigit('9')">
        9
      </ion-button>
      <ion-button class="operation" (click)="addOperation(2)">
        x
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="addDigit('4')">
        4
      </ion-button>
      <ion-button (click)="addDigit('5')">
        5
      </ion-button>
      <ion-button (click)="addDigit('6')">
        6
      </ion-button>
      <ion-button class="operation" (click)="addOperation(1)">
        -
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="addDigit('1')">
        1
      </ion-button>
      <ion-button (click)="addDigit('2')">
        2
      </ion-button>
      <ion-button (click)="addDigit('3')">
        3
      </ion-button>
      <ion-button class="operation" (click)="addOperation(0)">
        +
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button id="zero" (click)="addDigit('0')">
        0
      </ion-button>
      <ion-button (click)="addDigit('.')">
        ,
      </ion-button>
      <ion-button class="operation" (click)="evaluate()">
        =
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>